.manage-container{
   display: grid;
   justify-content: center;
   align-items: center;
   grid-gap: 10px;
   grid-template-columns: repeat(3, 1fr);
}
.newRoute-btn{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
}